<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="/layouts/default"
>
<head>
    <meta charset="UTF-8"/>
    <title>My Movies - Login</title>
</head>
<body>
<div id="homePage" layout:fragment="content">
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header bg-info text-white">
                    Sign Up
                </div>
                <div class="card-body">
                    <!--<h4 th:if="${newUserMessage != null AND !newUserMessage.equals('')}" class="text-success" th:text="${newUserMessage}"></h4>-->
                    <h4 th:if="${userCreated}" class="text-success">User Created <a id="login-button" th:href="@{/user/login}" class="btn btn-primary"><i class="fa fa-sign-in" aria-hidden="true"></i> Log In</a></h4>
                    <div class="card-text">
                        <form action="#" th:action="@{/user/signup}" method="post" th:object="${newUser}">
                            <div class="form-row">
                                <div class="form-group col-sm-12">
                                    <label for="first-name-field">First Name:</label>
                                    <input id="first-name-field" type="text" name="firstName" class="form-control" th:field="*{firstName}"/>
                                    <p th:each="error: ${#fields.errors('firstName')}"
                                       th:text="${error}" class="text-danger" style="font-weight: bold;">Validation error</p>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-sm-12">
                                    <label for="last-name-field">Last Name:</label>
                                    <input id="last-name-field" type="text" name="lastName" class="form-control" th:field="*{lastName}"/>
                                    <p th:each="error : ${#fields.errors('lastName')}"
                                       th:text="${error}" class="text-danger" style="font-weight: bold;">Validation error</p>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-sm-12">
                                    <label for="username-field">User Name:</label>
                                    <input id="username-field" type="text" name="username" class="form-control" th:field="*{username}"/>
                                    <p th:each="error : ${#fields.errors('username')}"
                                       th:text="${error}" class="text-danger" style="font-weight: bold;">Validation error</p>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-sm-12">
                                    <label for="email-field">Email:</label>
                                    <input id="email-field" type="text" name="email" class="form-control" th:field="*{email}"/>
                                    <p th:each="error : ${#fields.errors('email')}"
                                       th:text="${error}" class="text-danger" style="font-weight: bold;">Validation error</p>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-sm-12">
                                    <label for="password-field">Password:</label>
                                    <input id="password-field" type="password" name="password" class="form-control" th:field="*{password}"/>
                                    <p th:each="error : ${#fields.errors('password')}"
                                       th:text="${error}" class="text-danger" style="font-weight: bold;">Validation error</p>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-sm-12">
                                    <label for="confirm-password-field">Confirm Password:</label>
                                    <input id="confirm-password-field" type="password" name="confirmPassword" class="form-control" th:field="*{confirmPassword}"/>
                                    <p th:each="error : ${#fields.errors('confirmPassword')}"
                                       th:text="${error}" class="text-danger" style="font-weight: bold;">Validation error</p>
                                </div>
                            </div>
                            <div class="text-center">
                                <button id="sign-up-button" type="submit" class="btn btn-success"><i class="fa fa-user-o" aria-hidden="true"></i> Sign Up</button>
                                <!--<a id="login-button" th:href="@{/user/login}" class="btn btn-primary"><i class="fa fa-sign-in" aria-hidden="true"></i> Log In</a>-->
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>